.site-description {
    color: #ffffff;
}

body.custom-background {
    background-color: #222222;
}

#masthead {
    background-image: url('../Media/background.jpg');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    margin-top: 32px !important;
    margin: auto;
}

.site-title {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.5s infinite alternate;
}

#shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-text-fill-color: white;
}

#showtime {
  max-width: 1000px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#venue {
    width: 50%;
}